@page "/opensource"
@using MyLife.Blazor.Wasm.Components.OpenSource
@using MyLife.Core
@using MyLife.Core.Models
@using MyLife.Core.Services
@inject LifeService lifeService

<div class="opensource">
    <h2>Open source activities</h2>

    @if (Data != null)
    {
        <h3>My motivation</h3>
        <p>@Data.Motivation</p>

        <h3>Some projects</h3>
        @foreach (var family in Data.ProjectFamilies)
        {
            <ProjectFamilySection Family="family" />
        }
    }
</div>

@code {
    #region Private member

    private Core.Models.OpenSource.Container? Data;

    #endregion

    #region Init

    protected override void OnInitialized()
    {
        Data = lifeService.GetLife().OpenSource;

        base.OnInitialized();
    }

    #endregion

    #region UI builder

    #endregion
}