@using MyLife.Core.Models;

<style>
    .introduction-container p {
        text-align: justify;
    }
</style>

@if (Persona != null)
{
    <div class="introduction-container">
        @foreach (var paragraph in Persona.IntroductionParagraphs)
        {
            <p>@paragraph</p>
        }
    </div>
}


@code {
    [Parameter]
    public Core.Models.Persona.Container? Persona { get; set; } = null;
}
