<style>
    .navigation-top-container {
        text-align: center;
    }

    .navigation-top-container a {
        text-decoration: underline;
    }

    .navigation-top-container ul {
        list-style: none;
    }

    .navigation-top-container li {
        display: inline;
        margin-right: 8px;
    }

    .navigation-top-container li:last-child {
        margin-right: 0px;
    }
</style>


<div class="navigation-top-container">
    <ul>
        <li><a href="/">Overview</a></li>
        <li><a href="contentcreation/">Content Creation</a></li>
        <li><a href="opensource/">Open Source</a></li>
        <li><a href="cv/">Curriculum Vitae</a></li>
    </ul>
</div>

@code {

}
